.todoContainer {
    position: absolute;
    right: 1.5rem;
    bottom: 6.5rem;
    width: 18vw;
    overflow-y: auto;
    background-color: #9ca3af;
    opacity: .9;
    border-radius: 5px;
    max-height: 45vh;
}
.todoInputs {
    border-bottom: 1px solid #fafafa;
    margin-bottom: 5px;
    width: 15vw;
    margin-left: 1vw;
}
.todoInputs:focus {
    outline: none;
}
.todoItemsContainer {
    width: 15vw;
    padding: 5px, 0px;
}
.todoLabel {
    min-width: 100%;
    word-wrap: break-word; 
}
.todoCheckbox {
    width: 1.1rem;
    height: 1.1rem;
    margin-left: 5px;
    margin-right: 5px;
}
.todoDel {
    width: 1.1rem;
    height: 1.1rem;
}
.pb5 {
    padding-bottom: 5px;
}
@media screen and (max-width: 575px) {
    .todoContainer {
        width: 80vw;
    }
    .todoInputs {
        width: 78vw;
    }
    .todoItemsContainer {
        width: 74vw;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
    .todoContainer {
        width: 60vw;
    }
    .todoInputs {
        width: 58vw;
    }
    .todoItemsContainer {
        width: 54vw;
    }
}
@media screen and (min-width: 768px) and (max-width: 900px) {
    .todoContainer {
        width: 42vw;
    }
    .todoContainer > p {
        font-size: 2rem;
    }
    .todoInputs {
        width: 36vw;
        font-size: 2.2rem;
    }
    .todoItemsContainer {
        width: 36vw;
    }
    .todoLabel {
        font-size: 2.2rem;
    }
    .todoDel {
        width: 1.3rem;
        height: 1.3rem;
    }
}