.user-page {
    height: 100vh;
    position: relative;
}
.quotes {
    position: absolute;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    bottom: 3rem;
}
.del-btn {
    padding-top: 15px;
}
.time-div {
    margin-left: 20px;
    margin-top: 20px;
}
.greet-div {
    padding-top: 35vh;
}
.inp-focus {
    border-bottom: 1px solid #fafafa;
    width: 40%;
    line-height: 2.25rem;
    font-weight: 300;
}
.inp-focus::placeholder {
    font-size: 1.5rem;
    color: #fafafa;
}
.checkbox {
    width: 1rem;
}
.del-icon {
    height: 1.5rem;
}
.weather-div {
    margin-top: 20px;
    margin-right: 20px;
    width: 250px;
}
.weather-inp {
    border-bottom: 1px solid #fafafa;
    width: 100%;
}
/*     weather component     */
.temp {
    padding-left: 5px;
}
.line {
    line-height: 1.5rem;
}
/*      todo       */
.todoBtnDiv {
    position: absolute;
    right: 1.5rem;
    bottom: 3rem;
}
/*      media queries    */
@media screen and (max-width: 575px) {
    .quotes {
        font-size: 1rem;
    }
    .todoBtnDiv > button {
        font-size: 1.2rem;
    }
    .focus {
        font-size: 1.4rem;
    }
    .inp-focus {
        font-size: 1.25rem;
        line-height: 1.3rem;
    }
    .greet-div {
        font-size: 2rem;
    }
    .weather-inp, .weather-div > p {
        font-size: 1rem;
    }
    .weather-div {
        width: 20vw;
    }
    .weather-comp-div p, .weather-comp-div-l {
        font-size: 1.2rem;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
    .quotes {
        font-size: 1.2rem;
    }
    .todoBtnDiv > button {
        font-size: 1.3rem;
    }
    .focus {
        font-size: 1.4rem;
    }
    .inp-focus {
        font-size: 1.25rem;
        line-height: 1.3rem;
    }
    .greet-div {
        font-size: 3rem;
    }
    .weather-inp, .weather-div > p {
        font-size: 1.5rem;
    }
    .weather-div {
        width: 20vw;
    }
    .weather-comp-div p, .weather-comp-div-l {
        font-size: 1.35rem;
    }
}
@media screen and (min-width: 768px) {
    .quotes {
        font-size: 1.5rem;
    }
    .todoBtnDiv > button {
        font-size: 1.5rem;
    }
    .focus {
        font-size: 2rem;
    }
    .inp-focus {
        font-size: 2rem;
        line-height: 1.5rem;
    }
    .greet-div {
        font-size: 3rem;
    }
    .weather-inp, .weather-div > p {
        font-size: 1.5rem;
    }
    .weather-div {
        width: 250px;
    }
    .weather-comp-div p, .weather-comp-div-l {
        font-size: 1.5rem;
    }
}