/*      reset css    */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*      universal    */
.flex {
    display: flex;
}
.dir-row {
    flex-direction: row;
}
.dir-col {
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.p-l {
    padding-left: 20px;
}
.p-t {
    padding-top: 20px;
}
.p-t-10 {
    padding-top: 10px;
}
.p-r10 {
    padding-right: 5px;
}
.p-l10 {
    padding-left: 5px;
}
.text {
    font-size: 3rem;
}
.text1 {
    font-size: 2.5rem;
}
.text2 {
    font-size: 2rem;
}
.text3 {
    font-size: 1.5rem;
}
.text4 {
    font-size: 1rem;
}
.primary {
    color: #fafafa;
}
.strike {
    text-decoration: line-through;
}
.italic {
    font-style: italic;
}
.text-center {
    text-align: center;
}
.border-none {
    border: none;
}
.outline-none {
    outline: none;
}
.bg-transparent {
    background-color: transparent;
}
.hide {
    display: none;
}
.float-r {
    float: right;
}
.float-l {
    float: left;
}
/*      app        */
.app {
    height: 100vh;
    width: 100vw;
}
.background {
    background-repeat: no-repeat;
    background-position: center center center center;
    background-size: cover;
}
.cursor {
    cursor: pointer;
}